@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


:root {
    --background-color: #f3f3f3;
    --text-color: #000000;
    --accent-color: #c62444;
}

* {
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f3f3f3;
}


 {
    padding: 2rem 0;
}

.nav-top {
    display: flex;
}

.menu-icon {
    padding-left: 0;
    text-align: end;
    display: flex;
    margin-left: auto;
    align-items: center;
    color: white;
}

nav {
    display: block;
    background: #000;
    color: white;
    padding: 10px;

}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: none;
    padding: 10px 0;
}

nav li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid white;
}

@media only screen and (min-width : 480px) {

    .menu-icon {
        display: none;
    }

    nav {
        display: flex;
    }

    nav li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px;
    }

    nav li:hover,
    nav li:focus-visible {
        transition: border-color 0.2s linear;
        border: 2px solid white;
        border-radius: 5px;
    }

    #myLinks {
        padding-left: 0;
        text-align: end;
        display: flex;
        margin-left: auto;
        align-items: center;
    }
main{background-color: #f1f1f1; }

h1{margin: 1.6rem 8rem 1.6rem 8rem }

.about{margin: 1.6rem 8rem 3rem 8rem;
    border: 2px solid #111;
    background-color: #c62444; color: #111}

.logogroot{margin:1.6rem 28rem 1.6rem}
.onzeinformatie{ margin:1.6rem 8rem 1.6rem 8rem}

.jarne,.gunnar,.emile,.timon,.timon p,h3,p{ padding: 1rem 1rem 1rem 1rem}}

.jarne,.gunnar,.timon,.emile{display: flex; margin: 3rem 8rem 3rem 8rem;
    border: 2px solid #111;
    background-color: #c62444; color: #111}

footer{
    background-color: #111;
    color:#f3f3f3;
    text-decoration: none;
    border-top: #111 solid 1.5px;
}
footer a{color: #f3f3f3; text-decoration: none}

footer p{
    margin: 0 2rem 0 2rem;
    padding: 0.2rem 0 0.2rem 0;
    display: flex;
    justify-content: center;
}
.mail li{
    padding: 0.2rem 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.mail h2{
    margin: 1rem 1rem 0.3rem 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
}
.aboutf{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c62444;
    color: #111;
}
.mail{
    margin: 1rem 0 1rem 0;}


/*--------------------------------------------------------------------------
ATOMS
--------------------------------------------------------------------------*/
h1 {
    /*margin: 3.375rem 0;*/

    font-size: 32px;
}

h2 {
    font-size: 26px;
    line-height: 1.5;
}

.nav-button {
    background-color: var(--accent-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: fit-content;
    opacity: 0.9;
    border-radius: 0.3rem;
}


.nav-button:hover {
    color: var(--accent-color);
    background-color: var(--background-color);
}

.button {
    text-decoration: none;
    color: var(--background-color);
    font-size: 20px;
    font-variant: all-petite-caps;
    background-color: var(--accent-color);
    padding: 1rem;
    margin: 0.1rem;
    border: var(--text-color) 2px solid;
    display: inline-block;
    /* Transitions */
    transition-property: background-color, color, padding, margin;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.button:hover, .button:focus-visible {
    color: var(--accent-color);
    background-color: var(--background-color);
    padding: 1.1rem;
    margin: 0;
}
/* MOLECULES */

.img-inline-text {
    display: flex;
    flex-direction: row-reverse;
    gap: 3rem;
}

.btn-group {
    height: max-content;
}
.nav-links {
    display: flex;
    gap: 3rem;
    margin-right: 2rem;
    align-items: center;
}

/* ORGANISMS */
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.event-image {

    box-shadow: 1rem 1rem #c62444,
    16px 16px 0 8px black;

}

.nav-link {
    padding: .5rem;
    transition: border-color ease-in-out 0.2s;
}

.nav-link:hover,
.nav-link:focus-visible {
    border-color: white;
}