* {
    box-sizing: border-box
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}


input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


button {
    background-color: #F05C26;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 0.3rem;
}

#enter {
    display: flex;
}

button:hover {
    opacity: 1;
}

#buttonCancel {
    padding: 14px 20px;
    background-color: #f44336;
}

#buttonCancel,
.signup {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    padding: 16px;
}

#popUp {
    display: none;
    position: absolute;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000bb;
    padding-top: 50px;
    overflow: hidden;
}

.popUp-content {
    justify-content: center;
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: fit-content;
    height: fit-content;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#spanClose {
    font-size: 40px;
    font-weight: bold;
    color: #797676;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.top-bar > h1 {
    margin: 0;
}

#spanClose:hover,
#spanClose:focus-visible {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {

    .signup,
    #buttonCancel {
        width: 100%;
    }
}

#buttonSignup {
    visibility: hidden;
    background-color: #04AA6D;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 2rem;
    grid-auto-flow: row;
    grid-template-areas:
        "first-name last-name"
        "email email"
        "password repeat-password"
        "cancel signup";
}

.first-name {
    grid-area: first-name;
}

.last-name {
    grid-area: last-name;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.repeat-password {
    grid-area: repeat-password;
}

.cancel {
    grid-area: cancel;
}

.signup {
    grid-area: signup;
}