html{
    background-color: #f1f1f1;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1280px;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

h1, h2, form{
    margin: 2rem;
}

label, input{
    margin: 1rem;
}

.insert{
    display: flex;
    align-items: center;
}

.insert label{
    width: 7rem;
}

.insert input{
    padding: .3rem;
    border-radius: .2rem;
}
.kader{
    padding: 1rem;
    background-color: white;
    border-radius: 1rem
}

.vriend{
    text-align: center;
    margin: 0 2rem 2rem 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    max-width: 10rem;
}

.vriend h3{
    margin: 0 0 1rem
}

.vriend a{
    text-decoration: none;
    color: black;
    margin-top: 10rem;
    padding: .5rem;
    background-color: #e00529;
    border-radius: 1rem;
}

.vrienden{
    display: flex;
    flex-wrap: wrap;
}